{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <section>
      <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
    </section>
    {{ .Content }}
    <section>
      <h6 id="lastmod"> Last Updated: {{ .Page.Lastmod.Format "Mon Jan 2, 2006" }}</h6>
    </section>
    <section>
      {{ if .PrevPage }}
      <a href="{{ .PrevPage.Permalink }}?ref=footer"> « Older: {{ .PrevPage.Title | truncate 50 "... "}}</a>
      {{ end }}
      &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp
      {{ if .NextPage }}
      <a href="{{ .NextPage.Permalink }}?ref=footer">Newer: {{ .NextPage.Title | truncate 50 "..."  }} »</a>
      {{ end }}
    </section>
  </main>
{{ end }}
